.input{
            width: 20%;
            height: 3em;
        }
.button{
            padding: 0.8em;
            background-color: green;
            color: white;
            transition: 0.5s;
        }
.button:hover{
            background-color: limegreen;
            padding-right: 1.5em;
            cursor: pointer;
        }
.resultaat{
    width: 25em;
    height: 10em;
    overflow: auto;
    border: solid;
    border-radius: 1em 1em 1em 1em;
    background: gray;
    color: white;
    padding-top: 1em;
    padding-left: 0.5em;
}